footer{
    display: flex;
    justify-content: space-between;

    padding-block: 1.5rem;
}

.text-md{
    font: var(--text-md);
}

.secondary-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 24px;
}