*{
    font-family: var(--global-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: var(--text-color-secundary);
}

.container{
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1280px;
}


:root{
    /* COLORS */

    /* product */

    --brand-color: #EF5F4C;

    /* shape */

    --bg-color:#FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency:#ffffff8f;

    /* text */

    --text-color-primary: #313131;
    --text-color-secundary: #6C6C6C;


    /* TYPOGRAPHY */

    --global-font-family:"Poppins", serif, sans-serif;

    --heading-1: bold 2rem/125% var(--global-font-family);

    --text: 1rem/150% var(--global-font-family);

    --text-md: 0.875rem/170% var(--global-font-family);
  
    --text-sm: 0.75rem/170% var(--global-font-family);
}

