#explorer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.25rem;
    padding-inline: 2rem;
    width: auto;
    background-color: var(--surface-color);
}

.primary-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.profile-links{
    font: var(--text-md);
    color: var(--text-color-secundary);
}

.profile-links:hover{
    color: var(--brand-color);
    text-decoration: underline;
}