.bg-surface-color{
    background-color: var(--surface-color);
}

#explorer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.25rem;
}

.primary-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.text-links{
    font: var(--text-md);
    color: var(--text-color-secundary);
}

.text-links:hover{
    color: var(--brand-color);
    text-decoration: underline;
}

@media (width <= 42.8125rem) {
        #info-container{
            display: none;
        }
}