@import url(global.css);

*{
    font-family: var(--global-font-family);
}

#header-container{
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    padding-inline: 2rem;
    background-color: var(--surface-color);
}

.profile-links{
    color: var(--text-color-secundary);
    font-family: var(--global-font-family);

}

#explorer-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

p{
    font-size: var(--paragraph-md-size);
    line-height: var(--paragraph-md-and-sm-line-height);
    color: var(--text-color-secundary);
}

#info-container{
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 2rem;
    align-items: center;
    background-color: var(--surface-color);
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-name-heading{
    font-size: var(--heading-1-size);
    font-weight: var(--heading-1-weight);
    line-height: var(--heading-1-line-height);
}

.user-container-description{
    display: flex;
    gap: 2rem;
    width: 45%;
}

.status-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

    
  height: 140px;
  width: 280px;
}

.status-container__item{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}






.touristic-places-gallery-photos{
    width: 286px;
    height: 286px;
}